<% if(user_signed_in?)%>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
    <%= link_to "Update my Acount", edit_user_registration_path%>
<% end %>
<h1><%= @user.email %></h1>